# /lib/systemd/system/ipset-creator.timer
[Unit]
Description=Run ipset-creator daily to update ipsets

[Timer]
OnCalendar=hourly
RandomizedDelaySec=45min
AccuracySec=5
Persistent=true

[Install]
WantedBy=timers.target
