# /lib/systemd/system/ipset-creator.service
[Unit]
Description=IPSet Country/Continent List Importer
Documentation=https://github.com/hughescr/ipset-creator
Requires=network-online.target
After=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/share/.config/yarn/global/node_modules/ipset-creator/systemd-scripts/ipset-creator.sh
PrivateTmp=true
